@model IEnumerable<FavoriteBookDto>

@{
    ViewBag.Title = "لیست علاقه‌مندی‌ها";
}

<div class="breadcrumb">
    <div style="font-weight: bold;font-size: 20px">لیست علاقه‌مندی‌ها</div>
    <div class="text-grey">
        <span><a asp-controller="Home" asp-action="Index">خانه</a></span>
        <i class="fa-solid fa-caret-left"></i>
        <span><a asp-controller="User" asp-action="UserProfile">پروفایل</a></span>
        <i class="fa-solid fa-caret-left"></i>
        <span>علاقه‌مندی‌ها</span>
    </div>
</div>

@if (Model != null && Model.Any())
{
    <div class="box-container">
        <div class="table-container" style="width:90%">
            <table class="table">
                <thead>
                <th>عنوان</th>
                <th>نویسنده</th>
                <th>زبان</th>
                <th>تاریخ نشر</th>
                <th>وضعیت</th>
                <th>حذف علاقه‌مندی</th>
                </thead>
                <tbody>
                    @foreach (FavoriteBookDto book in Model)
                    {
                        <tr>
                            <td style="width:40%"><a asp-controller="Books" asp-action="BookPage" asp-route-id="@book.BookId">@book.Title</a></td>
                            <td style="width:20%">@book.Author</td>
                            <td style="width:15%">@book.Language</td>
                            <td style="width:15%">@book.PublishedYear</td>
                            <td style="width:20%">@book.Status</td>
                            <td style="width:20%"><a asp-controller="FavoriteBooks" asp-action="DeleteFavoriteBook" asp-route-favoriteId="@book.FavoriteId">حذف</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model == null)
{
    <div class="box-container">
        <div class="table-container">
            <table class="table">
                <thead>
                <th>عنوان</th>
                <th>نویسنده</th>
                <th>زبان</th>
                <th>تاریخ نشر</th>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:40%"></td>
                        <td style="width:20%"></td>
                        <td style="width:15%"></td>
                        <td style="width:20%"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


}
else if (Model != null && !Model.Any())
{
    <div class="text-red" style="padding-right:200px">لیست علاقه‌مندی‌ها خالی است</div>
}