@model IEnumerable<BookResponseDto>
@{
    ViewBag.Title = "جستجو";
}

<div class="breadcrumb">
    <div style="font-weight: bold;font-size: 20px">جستجو</div>
    <div class="text-grey">
        <span><a asp-controller="Home" asp-action="Index">خانه</a></span>
        <i class="fa-solid fa-caret-left"></i>
        <span>جستجو در منابع کتابخانه</span>
    </div>
</div>
<form asp-controller="Books" asp-action="Search" method="get">
    <div class="box-container">
        <div class="box">
            <div>جستجو براساس:</div>
            <div style="width:20%">
                <select class="form-input" name="searchBy">
                    @foreach (var field in ViewBag.SearchFields)
                    {
                        if (field.Key == ViewBag.SearchBy)
                        {
                            <option value="@field.Key" selected="selected">@field.Value</option>
                        }
                        else
                        {
                            <option value="@field.Key">@field.Value</option>
                        }

                    }
                </select>
            </div>
            <div style="width:40%">
                <input type="text" name="searchString" id="Search" class="form-input" placeholder="جستجو" value="@ViewBag.SearchString" />
            </div>
            <div>
                <button type="submit" class="btn btn-pink">جستجو</button>
            </div>
        </div>
    </div>
</form>

@if (Model != null && Model.Any())
{
    <div class="box-container">
        <div class="table-container">
            <table class="table">
                <thead>
                <th>عنوان</th>
                <th>نویسنده</th>
                <th>زبان</th>
                <th>تاریخ نشر</th>
                </thead>
                <tbody>
                    @foreach (BookResponseDto book in Model)
                    {
                        <tr>
                            <td style="width:40%"><a>@book.Title</a></td>
                            <td style="width:20%">@book.Author</td>
                            <td style="width:15%">@book.Language</td>
                            <td style="width:20%">@book.PublishedYear</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model == null)
{
<div class="box-container">
    <div class="table-container">
        <table class="table">
            <thead>
            <th>عنوان</th>
            <th>نویسنده</th>
            <th>زبان</th>
            <th>تاریخ نشر</th>
            </thead>
            <tbody>
                <tr>
                    <td style="width:40%"></td>
                    <td style="width:20%"></td>
                    <td style="width:15%"></td>
                    <td style="width:20%"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    

}
else if (Model != null && !Model.Any())
{
    <div class="text-red" style="padding-right:200px">کتاب مورد نظر یافت نشد</div>
}


